:root {
    --button: purple;
    --button-hover: rgb(223, 130, 223);
    --div-color: rgba(187, 75, 187, 0.699);
}

/*Header Styling*/
header {
    background-color: var(--div-color);
    margin-bottom: 10em;
    display: grid;
    grid-template-columns: 3fr;
    padding: .5em;
}

header h1 {
    color: var(--button);
    font-family: 'Cormorant Infant', serif;
    font-size: 20px;
}

.high-score:hover {
    text-decoration: underline;
    color: var(--button);
    cursor: pointer;
}

.time {
    font-family: 'Cormorant Infant', serif;
    grid-column: 3;
    align-self: center;
}


/*Main Styling*/
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div {
    grid-column: 2/3;
    justify-content: center;
    align-self: center;
}

/*Toggle display through javascript*/
.hide {
    display: none;
}

h2 {
    font-family: 'New Rocker', cursive;
}

p, h3{
    font-family: 'Cormorant Infant', serif;
}

h3 {
    margin-bottom: .5em;
}

.btn-dark {
    background-color: var(--button);
}

.btn-padding {
    display: flex;
    flex-direction: column;
    margin-top: .5em;
}


.btn-dark:hover {
    background-color: var(--button-hover);
    border-color: var(--button-hover);
}